<template>
<v-container>
  <v-card class="mx-auto mt-10 text-center" max-width="850" height="750" color="#ECE5DD">
  <v-toolbar class="ma-0" color="#075E54" width="850" height="45">
    <v-toolbar-title class="mx-auto">
      <b>Prima</b>
    </v-toolbar-title>

  </v-toolbar>
  

      <v-card
      
      color="#FFFFF"
      class="mt-2 rounded-pill rounded-tl-xl text-left"
      max-width="400"
       
      >
      <v-card-text
      class="text-h5 font-weight-bold"
      @click="testi(sentences[0])"
      > 
        {{frasefinal}}.
         <v-icon color="#128C7E"  class="mdi mdi-volume-high"></v-icon>
      </v-card-text>

      </v-card>
      <v-card
      color="#DCF8C6"
      max-width="400"
      width="280"
      class="ml-auto rounded-pill rounded-tr-xl text-right"
      >
      <v-card-text
      class="text-h5 font-weight-bold"
      >     
           <v-icon v-if="this.errors!= 0" @click="voice2" color="#128C7E"  class="mdi mdi-volume-high"></v-icon>
        {{sentencesP[0]}}.
   
      </v-card-text>
      </v-card>
      <v-card
      
      color="#FFFFF"
      class="rounded-pill rounded-tl-xl text-left my-3"
      max-width="400"
       
      >
      <v-card-text
      class="text-h5 font-weight-bold"
      @click="voice"
       v-if="this.counter>=1"
      >
      
        {{sentences[1]}}.
         <v-icon color="#128C7E"  class="mdi mdi-volume-high"></v-icon>
      </v-card-text>


      </v-card>
      <v-card
      v-if="this.counter>=1"
      color="#DCF8C6"
      max-width="400"
      width="280"
      class="ml-auto rounded-pill rounded-tr-xl text-right my-3"
      >
      <v-card-text
      class="text-h5 font-weight-bold"

      >     
           <v-icon v-if="this.errors!= 0" @click="voice2" color="#128C7E"  class="mdi mdi-volume-high"></v-icon>
        {{sentencesP[1]}}.
   
      </v-card-text>
      </v-card>

      <v-card
      v-if="this.counter>=2"
      color="#FFFFF"
      class="rounded-pill rounded-tl-xl text-left my-3"
      max-width="400"
       
      >
      <v-card-text
      class="text-h5 font-weight-bold"
      @click="voice"
      >
      
        {{sentences[2]}}.
         <v-icon color="#128C7E"  class="mdi mdi-volume-high"></v-icon>
      </v-card-text>


      </v-card>
      <v-card
      v-if="this.counter>=2"
      color="#DCF8C6"
      max-width="400"
      width="280"
      class="ml-auto rounded-pill rounded-tr-xl text-right"
      >
      <v-card-text
      class="text-h5 font-weight-bold"
     
      >     
           <v-icon v-if="this.errors!= 0" @click="voice2" color="#128C7E"  class="mdi mdi-volume-high"></v-icon>
        {{sentencesP[2]}}.
   
      </v-card-text>
      </v-card>
</v-card>


<v-toolbar class="mx-auto" color="#075E54" width="850" height="40">
  <v-btn
  class="mx-auto"
      fab
      id="btn">
        <v-icon  color="white" @click="test" large class="mdi mdi-microphone"></v-icon>
      </v-btn>
  </v-toolbar>
</v-container>

</template>



 <script>
 var moment = require("moment");
moment.locale();

import { mapActions, mapGetters } from "vuex";
import Vue from 'vue'


  export default {
  created() {
      console.log("Created")
      this.frasefinal = this.sentences[0]
    },

  mounted(){
      this.color()
  }
,
   name: 'speech_to_text',
   data() {
     
     return {
       runtimeTranscription_: "",
       transcription_: [],
       lang_: "en_US",
        phrase:"",
        sentences:["Hello my name is Rebecca, What is your name?","Thats a good name","GoodBye"],
        sentencesP:["My name is Dante","Thanks","GoodBye"],
        revision:"",
        checki:"Revisar",
        show2:false,
        show3:false,
        counter:0,
        elem:null,
        loading:false,
        errors: 0,
        frasefinal:""        
        
     };
   },
   watch:{

   },
 
   methods: {
     color(){
        let boton = window.document.getElementById(`btn`)
        boton.style.color= "white"
        boton.style.backgroundColor= "#128C7E"
     },
    
    test(){
       this.startSpeechToTxt()
       setTimeout(() => this.color(), 4001);
       setTimeout(() => this.check(), 5000);
     },

  
    startSpeechToTxt() {
    // initialisation of voicereco
    let boton = window.document.getElementById(`btn`)
        boton.style.color= "white"
        boton.style.backgroundColor= "red"

    window.SpeechRecognition =
    window.SpeechRecognition || 
    window.webkitSpeechRecognition;
    const recognition = new window.SpeechRecognition();
    recognition.lang = this.lang_;
    recognition.interimResults = true;

    recognition.addEventListener("result", event => {      
      var text = Array.from(event.results)
        .map(result => result[0])
        .map(result => result.transcript)
        .join("");
        this.revision = text
        this.runtimeTranscription_ = text;
    });
    recognition.addEventListener("end", () => {
      this.transcription_.pop()
      this.transcription_.push(this.runtimeTranscription_);
      this.phrase = "";
      recognition.stop();
    });
    recognition.start();
    setTimeout(() => recognition.stop(), 4000);
   },
    check(){
        if(this.sentencesP[this.counter].toLocaleUpperCase() == this.revision.toUpperCase()){            
            console.log("son iguales.")
            this.counter += 1
            this.errors =0
            
            
        }else{
            this.checki = "Vuelve a intentar.."
            console.log("fallaste")
            this.errors += 1
        }
          if(this.counter==3){
            this.checki ="Perfecto"
          }
    },

    testi(frase){
      let array=  frase.split(" ")
      this.frasefinal = ""
    
     

      setTimeout(() => this.voice3(array[index]), 1000);
    },

    letras(index){
        voice3(this.sentences[index])
    },

    voice3(word){
        let speech = new SpeechSynthesisUtterance()
        let voices = []
        voices = window.speechSynthesis.getVoices()
        speech.lang = "en-US"
        speech.text = word
        speech.rate = .5
        speech.volume= 20
        speech.pitch = 1
        speech.voice = voices[1]
        console.log(voices)
        window.speechSynthesis.speak(speech);
        this.frasefinal += word + " "
        } ,

    voice(){
        let speech = new SpeechSynthesisUtterance()
        let voices = []
        voices = window.speechSynthesis.getVoices()
        speech.lang = "en-US"
        speech.text = this.sentences[this.counter]
        speech.rate = 1
        speech.volume= 20
        speech.pitch = 1
        speech.voice = voices[1]
        console.log(voices)
        window.speechSynthesis.speak(speech);
        } ,

        voice2(){
        let speech = new SpeechSynthesisUtterance()
        let voices = []
        voices = window.speechSynthesis.getVoices()
        speech.lang = "en-US"
        speech.text = this.sentencesP[this.counter]
        speech.rate = 1
        speech.volume= 20
        speech.pitch = 1
        speech.voice = voices[8]
        console.log(voices)
        window.speechSynthesis.speak(speech);
        } 


   }

   
  }
  </script>